.footer {
  background-color: #e4f2fd;
  height: 15vh;
  display: flex;
  flex-direction: column;
  color: #9b9b9b;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer-link:hover {
  text-decoration: none;
}
