.profile {
  position: relative;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile label {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e4f2fd;
  border-radius: 50%;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  transform: rotate(90deg);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  gap: 0.2rem;
  margin-top: 1.5rem;
  border: 1px solid #bbdefa;
}

.inputWrapper button {
  background-color: #f0f0f0;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.homeButton {
  margin-top: 1.5rem;
  background-color: #007aff;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
