.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.profileContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profileImageWrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.editIcon {
  position: absolute;
  bottom: 3px;
  right: -0.5rem;
  background: #e4f2fd;
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scaleX(-1);
  width: 1rem;
}

.inputGroup {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.fullWidthBtn {
  margin-top: 0.5rem;
}
.inputGroupWithButton {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.inputWithButtonWrapper {
  position: relative;
  width: 240px;
}

.inputWithButtonWrapper input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 75px;
}

.insideCheckBtn {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  background-color: #e4f2fd;
  color: #3fa9f5;
  cursor: pointer;
}
