.commonInput {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  width: 120px;
}

.commonButton {
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.commonButton.default {
  background-color: #f0f0f0;
}

.commonButton.primary {
  background-color: #007aff;
  color: white;
  font-weight: bold;
}
